@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: -1;">
    <iframe width="100%"
            height="100%"
            src="https://www.youtube.com/embed/S1-QwIRjM-A?autoplay=1&loop=1&playlist=S1-QwIRjM-A&mute=1"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
            style="position: absolute; top: 0; left: 0;">
    </iframe>
</div>

<div style="position: relative; z-index: 1; color: white; text-align: center; padding-top: 50px;">
    <h1>Bienvenido al UrbanKick</h1>
    <p>Pasos con estilo.</p>
</div>
